# Default values for app-staffing
appname: app-staffing-api
replicas: 1

imagePullPolicy: Always
updateStrategy: RollingUpdate
revisionHistoryLimit: 2
# imagePullSecrets:
#   - docker-registry

image: app-staffing-api:latest

service:
  port: 80
  targetPort: 3000
  type: ClusterIP
  annotations: {}

  # To enable hot reloading
  # add the following extra service
extraServices: []
# extraServices:
#   - name: nodemon
#     port: 9229
#     targetPort: 9229
#     type: ClusterIP
#     annotations: {}

ingress: []
  # - class: nginx
  #   name: app
  #   host: app.localhost
  #   tls: false
  #   extraAnnotations:
  #     kubernetes.io/ingress.class: nginx
  #   paths:
  #     - path: /
  #       pathType: Prefix
  #       service: app-staffing
  #       port: 80


local:
  websocketPort:
    enabled: false
    port: 9229
    targetPort: 9229

cacheBusting:
  timestamp: false
  # TODO: implement the following to deploy chart only when relevant templates change
  # helmfiles: false

# the above requires something along the lines of the following:
# spec:
#   template:
#     metadata:
#       annotations:
#         {{- if .Values.cacheBusting.helmfiles }}
#         cachebusting-helmfiles/deployment: {{ include (print $.Template.BasePath "/deployment.yaml") . | sha256sum }}
#         cachebusting-helmfiles/service: {{ include (print $.Template.BasePath "/service.yaml") . | sha256sum }}
#         {{- end }}

extraEnv:
  APP_PORT: 3000
  # DATABASE_CONNECTION_STRING: postgres://dbuser:dbpassword@postgres.staffing-app.svc.cluster.local:5432/staffing

prometheus:
  enabled: false

# extraVolumes:
#   - name: local-files-app-staffing
#     hostPath: 
#       path: /local-files/app-staffing
# extraVolumeMounts:
#   - mountPath: /usr/src/app
#     name: local-files-app-staffing


# TODO: implement serviceaccount.yaml
serviceAccount:
  enabled: false

startupCommand:

  # attempt 1
  # command: ["/bin/sh"]
  # args: ["-c", "'npm i -g nodemon && npm run migrate && npm run seed && nodemon --inspect=0.0.0.0:9229 src/app.js'"]

  # attempt 2
  # command: ["/bin/sh"]
  # args: ["/bin/sh", "-c", "'npm i -g nodemon && npm run migrate && npm run seed && nodemon --inspect=0.0.0.0:9229 src/app.js'"]

  # attempt 3
  # command: ["/bin/sh", "-c", "'npm i -g nodemon && npm run migrate && npm run seed && nodemon --inspect=0.0.0.0:9229 src/app.js'"]

  # attempt 4
  # command: ["/bin/sh"]
  # args: ["c", "'npm i -g nodemon && npm run migrate && npm run seed && nodemon --inspect=0.0.0.0:9229 src/app.js'"]

  # attempt 5
  # command: ["/bin/sh", "/usr/src/app/start-dev.sh"]

  # attempt 6 (WORKS!)
  command: ["/bin/sh"]
  args: ["/usr/src/app/start-dev.sh"]

