name: Build and Publish

on:
  push:
    # branches: [ main ]
    branches: [ STAF-153-cd-downstream-results ]
  # pull_request:
  #   branches: [ main ]

jobs:
  # # This job will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
  # # For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
  # build:
  #   runs-on: ubuntu-latest
  #   env:
  #     DATABASE_CONNECTION_STRING: postgres://postgres:postgres@localhost:5432/test_staffing

  #   services:
  #     # Label used to access the service container
  #     postgres:
  #       # Docker Hub image
  #       image: postgres
  #       # Provide the password for postgres
  #       env:
  #         POSTGRES_PASSWORD: postgres
  #         POSTGRES_DB: test_staffing
  #       ports:
  #         - 5432:5432
  #       # Set health checks to wait until postgres has started
  #       options: >-
  #         --health-cmd pg_isready
  #         --health-interval 10s
  #         --health-timeout 5s
  #         --health-retries 5

  #   strategy:
  #     matrix:
  #       node-version: [14.x]
  #       # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Use Node.js ${{ matrix.node-version }}
  #     uses: actions/setup-node@v2
  #     with:
  #       node-version: ${{ matrix.node-version }}
  #       cache: 'npm'
  #   - run: npm ci
  #   - run: npm run migrate
  #   - run: npm run lint
  #   - run: npm test

  # publish:
  #   needs: [ build ]
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Publish Docker and Helm
  #     env:
  #       # TODO: this isn't working as expected. Output is masked.
  #       # AWS_ACCOUNT_NO: ${{ secrets.AWS_ACCOUNT_NO }}
  #       AWS_ACCOUNT_NO: "832297766686"
  #       ECR_REGISTRY_ID: app-staffing-api
  #       AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #       AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
  #       AWS_DEFAULT_REGION: us-west-2
  #       PROD_TARGET_STAGE_NAME: production
  #       HELM_PUBLISH_S3_BUCKET: bitovi-operations-staffing-app-helm
  #     run: |
  #       echo "running scripts/ci/publish.sh"
  #       ./scripts/ci/publish.sh



  # https://github.com/actions/github-script
  # https://octokit.github.io/rest.js/v18#actions-create-workflow-dispatch
  deploy-dev:
    # TODO: uncomment before merge
    # needs: [ publish ]
    runs-on: ubuntu-latest
    steps:
    - name: Deploy Stage
      uses: actions/github-script@v5
      # TODO: uncomment
      # # this will stop the step from running if not pull request
      # if: env.GITHUB_EVENT_NAME != 'pull_request'
      env:
        OPERATIONS_REPO: operations-staffing-app
        OPERATIONS_REPO_ORG: bitovi
        OPERATIONS_REPO_BRANCH: STAF-153-cd-downstream-results
        OPERATIONS_REPO_WORKFLOW: downstream-testing.yaml
        GITHUB_EVENT_NAME: ${{ github.event_name }}
      with:
        github-token: ${{ secrets.OPERATIONS_REPO_TOKEN }}
        script: |
          //console.log("debugging")
          //console.log("GITHUB_EVENT_NAME")
          //console.log(process.env.GITHUB_EVENT_NAME)

          //console.log("context")
          //console.log(context)


          // TODO: figure out how to do this in github actions 'if:'
          if(context.eventName == "pull_request"){
            console.log("Pull request. not triggering deployment")
          }else{
            console.log("Not a pull request. Triggering deployment")
            const dispatchResult = await github.rest.actions.createWorkflowDispatch({
              owner: process.env.OPERATIONS_REPO_ORG,
              repo: process.env.OPERATIONS_REPO,
              workflow_id: process.env.OPERATIONS_REPO_WORKFLOW,
              ref: process.env.OPERATIONS_REPO_BRANCH,
              inputs: {
                caller_repo: process.env.GITHUB_REPOSITORY
              }
            });
            console.log("dispatchResult")
            console.log(dispatchResult)

            /*
            console.log("list workflow runs")
            const listWorkflowRunsResult = await github.rest.actions.listWorkflowRuns({
              owner: process.env.OPERATIONS_REPO_ORG,
              repo: process.env.OPERATIONS_REPO,
              workflow_id: process.env.OPERATIONS_REPO_WORKFLOW,
              branch: process.env.OPERATIONS_REPO_BRANCH,
              event: "workflow_dispatch"
            });
            console.log("listWorkflowRunsResult")
            console.log(listWorkflowRunsResult)

            // listWorkflowRunsResult.data["workflow_runs"].forEach(item => {
            //   console.log("item")
            //   console.log(item)
            // })
            
            console.log("listWorkflowRunsResult.data[workflow_runs][0]")
            console.log(listWorkflowRunsResult.data["workflow_runs"][0])

            const jobsResult = await github.rest.actions.listJobsForWorkflowRun({
              owner: process.env.OPERATIONS_REPO_ORG,
              repo: process.env.OPERATIONS_REPO,
              run_id: listWorkflowRunsResult.data["workflow_runs"][0].id,
            });
            console.log("jobsResult")
            console.log(jobsResult)

            console.log("jobsResult.data[jobs][0]")
            console.log(jobsResult.data["jobs"][0])
            */
            const checkResult = await github.rest.checks.listForRef({
              owner: process.env.OPERATIONS_REPO_ORG,
              repo: process.env.OPERATIONS_REPO,
              ref: process.env.OPERATIONS_REPO_BRANCH,
              check_name: "test"
            });
            const checkResultLength = checkResult.data["check_runs"].length
            console.log("checkResult.data[check_runs][checkResultLength-1]")
            console.log(checkResult.data["check_runs"][checkResultLength-1])
          }

